body {
  background-color: white;
  margin: 0;
  color: white;
  font-family: 'Lato', sans-serif;
}

.navigation {
  width: 100vw;
  height: 100%;
}
ul img {
  width: 160px;
  height: 60px;
  margin-top: 10px;
  margin-left: 50px;
}

.About {
  width: auto;
  height: auto;
  padding-left: 15vw;
  padding-right: 15vw;
  margin-bottom: 15vh;
}

.contact {
  background-color: rgb(70,48,171);
  text-align: center;
  height: auto;
  padding-bottom: 70px;
}
.contactText{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}

.contactText a {
  color: white;
  margin-top: 40px;
}

h1, h2 {
  width: auto;
  height: auto;
  text-align: center;
  color: rgb(70,48,171);
  font-family: 'Montserrat', sans-serif;
}
#portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  -webkit-box-shadow: 0 8px 6px -6px #999;
   -moz-box-shadow: 0 8px 6px -6px #999;
   box-shadow: 0 8px 6px -6px #999;

  border-color: black;
  width: 100%;
  list-style-type: none;
  margin: 0;
  height: 80px;
  padding: 0;
  padding-left: 25px;
  overflow: hidden;
  background-color: rgba(255,255,255,1);
  position: fixed;
  z-index: 1000;
}

li {
    padding-top: 10px;
    float: right;
    height: 100%;
}

li a {
    font-size: 35px;
    vertical-align: bottom;
    font-weight: 400;
    display: block;
    color: rgb(165, 89, 227);
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    height: 100%;
}
li a:hover {
    color: rgb(43,5,72);
}

#top {
  margin-top: 400px
  width: 100%;
  height: 100vh;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  background:
    url(../assets/AssessmentImages/egypt2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
#top p {
  height: 40px;
  font-size: 50px;
  margin-top: auto
  color: white;
  font-family: 'Montserrat', sans-serif;y: Circular,Helvetica,Arial,sans-serif;
}

#top img {
  : 50px;
  height: 50px;
  bottom: 0;
}

#arrow {
  margin: 0 auto;
  width: 80;
}

* {box-sizing: border-box}
body {font-family: 'Montserrat', sans-serif;y: Circular,Helvetica,Arial,sans-serif}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100vw;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 36px;
  margin-top: -22px;
  color: rgb(221, 153, 230);
  font-weight: bold;
  font-size: 38px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: orange;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}

}
@media only screen and (max-width: 700px) {
  .prev, .next {
    font-size: 50px;
  }
}

.slideshow-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 80vw;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: inherit;
  width: inherit;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.overlayText {
  text-align:center;
  padding-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
}

.slideshow-container:hover .overlay {
  opacity: .7;
}

.slideShow-container {
  padding-left: auto;
  padding-right: auto;
}
.slide {
  width: 50vw;
  height: auto;
  display: block;
}
.button {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  border-radius: 34px;
  background-color: rgb(221, 153, 230);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 20vw;
  height:75px;
  transition: all 0.5s;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button:hover {
  background-color: orange;
}
